html {
	overflow: hidden;
}

body {
    background: #111;
    font-family: Helvetica;
    text-align: center;
	height: 100%;
}

.header {
	margin-top: 25px;
	margin-bottom: 25px;
}

.title {
	width: 20%;
	color: #E04747;
	font-weight: bold;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 5px solid #ffffff;
}

#canvasContainer {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	border: 8px solid #18914A;
	background-image: url(../assets/images/maze.jpg);
}

.midfield {
	width: 8px;
	height: 500px;
	margin: 0 auto;
	background-color: #18914A;
	position: relative;
	margin-top: -508px;
}